reporte_semanal_workflow.json
{
  "name": "GameIQ Reporte Semanal",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "command": "python gameiq/modules/reporte_semanal.py"
      },
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "fileSelector": "gameiq/data/reporte_semanal.json"
      },
      "name": "Read File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=TU_API_KEY_AQUI",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.texto_para_gemini }}\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "name": "HTTP Request (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Read File').item.json.alerta }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF Alerta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [800, 0]
    },
    {
      "parameters": {
        "chatId": "TU_CHAT_ID_AQUI",
        "text": "=📊 *Reporte Semanal GameIQ* 📊\n📅 *Fecha:* {{ $('Read File').item.json.fecha }}\n\n🤖 *Análisis de Mercado:*\n{{ $json.candidates[0].content.parts[0].text }}\n\n📈 *Géneros Emergentes:*\n{{ $('Read File').item.json.generos_emergentes.join(', ') || 'Ninguno' }}\n\n🔗 [Ver Dashboard Completo](https://tu-url-de-streamlit-aqui.streamlit.app)",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1000, 0]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "HTTP Request (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Gemini)": {
      "main": [
        [
          {
            "node": "IF Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Alerta": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
